<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ static_url('css/all.css') }}">
<link rel="icon" href="/favicon.ico">
<title>{{ _(title) + ' - ' + _('Online Judge') }}</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container" id="navbar">
  </div>
</div>
<div id="Magica">
  {% block body %}
  {% end %}
</div>
<div class="flash-container">
  <div class="flash-alert">
  </div>
</div>
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.min.js') }}"></script>
<script src="{{ static_url('js/all.js') }}"></script>
<script type="text/javascript">
function bindnavbar() {
  $('#sign-up').click(function() {
    var a = $('#username').val();
    var b = $('#password').val();
    if (verify(a, b)) {
      $.post('/user/signup', { username: a, password: $.md5($.md5(a) + $.md5(b)) }, function(data, status) {
        if (data != 'ok') {
        if (data == 'exists') { showmsg("{{ _('Username exists already.') }}"); }
        else { showmsg("{{ _('Something wrong.') }}"); }
        }
        else { $.get('/api/navbar', function(data, status) { $('#navbar').html(data); bindnavbar(); showmsg("{{ _('Sign up successfully.')}}");}); }
        })
    }
    else {
      showmsg("{{ _('Invalid username or password.') }}");
    }
  })
  $('#sign-in').click(function() {
    var a = $('#username').val();
    var b = $('#password').val();
    if (verify(a, b)) {
      $.post('/user/signin', { username: a, password: $.md5($.md5(a) + $.md5(b)) }, function(data, status) {
        if (data != 'ok') {
          if (data == "invalid") { showmsg("{{ _('Invalid username or password.') }}"); }
          else { showmsg("{{ _('Something wrong.') }}"); }
        }
        else { $.get('/api/navbar', function(data, status) { $('#navbar').html(data); bindnavbar(); showmsg("{{ _('Sign in successfully.')}}");}); }
      })
    }
    else {
      showmsg("{{ _('Invalid username or password.') }}");
    }
  })
  $('#sign-out').click(function() {
    $.get('/user/signout', function(data, status) { $.get('/api/navbar', function(data, status) { $('#navbar').html(data); bindnavbar(); showmsg("{{ _('Sign out successfully.') }}"); }); });
  })
}
$.get('/api/navbar', function(data, status) { $('#navbar').html(data); bindnavbar() })
</script>
{% block bottom %}
{% end %}
</body>
</html>
