{% extends layout.html %}
{% block body %}
<div class="container prob-container">
  <center>
    <h1>{{ prob.name }}</h1>
    <p class="res-limit"><i class="fa fa-clock-o"></i> {{ _('Time Limit:') }} {{ prob.timelimit }}MS    <i class="fa fa-database"></i> {{ _('Memory Limit:') }} {{ prob.memorylimit }}KB    <i class="fa fa-bar-chart-o"></i> {{ _('AC') }}/{{ _('All') }}{{ _(':') }} {{ prob.accept }}/{{ prob.submit }}</p>
  </center>
  {% raw prob.content %}
  <div class="p-action">
    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#codeArea">{{ _('Submit Code') }}</button> <button type="button" class="btn btn-lg btn-info" id="status">{{ _('Problem Status') }}</button>
  </div>
  <div class="modal fade" id="codeArea" tabindex="-1" role="dialog" aria-labelledby="codeAreaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ _('Close') }}</span></button>
          <h4 class="modal-title" id="codeAreaLabel">{{ _('Submit Code') }}</h4>
        </div>
        <form method="POST" action="#">
          {% raw xsrf_form_html() %}
          <input type="hidden" id="lang" name="lang" value="{{ 'Cpp' if not uin else uin.compiler }}" />
          <div class="modal-body">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn" id="C">C</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn" id="Cpp">C++</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn" id="Cpp11">C++11</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn" id="Pascal">Pascal</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn" id="Java">Java</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn" id="Python">Python</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn" id="PyPy">PyPy</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn" id="Ruby">Ruby</button>
              </div>
            </div>
            <textarea id="mirror" name="code"></textarea>
          </div>
          <div class="modal-footer">
            <div id="sub-button">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
              <button class="btn btn-primary" type="submit">{{ _('Submit') }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% end %}
{% block bottom %}
<link rel="stylesheet" href="{{ static_url('cm/lib/codemirror.css') }}">
<link rel="stylesheet" href="{{ static_url('cm/theme/monokai.css') }}">
<script src="{{ static_url('cm/lib/codemirror.js') }}"></script>
<script src="{{ static_url('cm/mode/pascal/pascal.js') }}"></script>
<script src="{{ static_url('cm/mode/clike/clike.js') }}"></script>
<script src="{{ static_url('cm/mode/python/python.js') }}"></script>
<script src="{{ static_url('cm/mode/ruby/ruby.js') }}"></script>
<script>
  var m = {};
  m['C'] = 'text/x-csrc'; m['Cpp'] = m['Cpp11'] = 'text/x-c++src'; m['Pascal'] = 'pascal';
  m['Java'] = 'text/x-java'; m['Python'] = m['PyPy'] = 'python'; m['Ruby'] = 'ruby';
  function refreshCompilerInfo(cm) {
    cm.setOption('mode', m[$('#lang').val()]);
    for (var key in m) {
      $('#' + key).removeClass();
      $('#' + key).addClass('btn');
      if (key == $('#lang').val()) {
        $('#' + key).addClass('btn-primary');
      }
      else {
        $('#' + key).addClass('btn-default');
      }
    }
  }
  $(document).ready(function() {
    var ncm = CodeMirror.fromTextArea(document.getElementById('mirror'), {
      lineNumbers: true,
      autofocus: true,
      theme: "monokai",
      indentUnit: 4
    });
    refreshCompilerInfo(ncm);
    for (var key in m) {
      eval("$('#" + key + "').click(function() { $('#lang').val('" + key + "'); refreshCompilerInfo(ncm); })");
    }
    $('#codeArea').on('shown.bs.modal', function() { ncm.refresh(); });
  })
</script>
{% end %}
